UtahPlanners.MVC3/Service References/MembershipService/MembershipService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Paul.UtahPlanners.Application.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Paul.UtahPlanners.Application.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserRequest" nillable="true" type="tns:CreateUserRequest" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>