UtahPlanners.MVC3/Service References/PropertyService/PropertyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" />
  <xs:complexType name="ArrayOfPropertyIndexDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyIndexDTO" nillable="true" type="tns:PropertyIndexDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyIndexDTO" nillable="true" type="tns:ArrayOfPropertyIndexDTO" />
  <xs:complexType name="PropertyIndexDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Density" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="OverallScore" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocioEconDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetWalkDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoFiftySingleFamily" type="xs:int" />
      <xs:element minOccurs="0" name="Units" type="xs:int" />
      <xs:element minOccurs="0" name="Walkscore" type="xs:int" />
      <xs:element minOccurs="0" name="YearBuilt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyIndexDTO" nillable="true" type="tns:PropertyIndexDTO" />
  <xs:complexType name="IndexFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="BuildingEnclosureType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonAreasType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DensityRange" nillable="true" type="tns:RangeOfNullableOfdouble5F2dSckg" />
      <xs:element minOccurs="0" name="NeighborhoodConditionType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyId" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PropertyTypes" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ScoreRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="SocioEconType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetConnectivityType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetSafetyType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetWalkabilityType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TwoFiftyApartmentsRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="TwoFiftySingleFamilyRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="UnitRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="WalkscoreRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="YearBuiltRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexFilter" nillable="true" type="tns:IndexFilter" />
  <xs:complexType name="RangeOfNullableOfint5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RangeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.DTO" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="HighValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LowValue" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="RangeOfNullableOfint5F2dSckg" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
  <xs:complexType name="RangeOfNullableOfdouble5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RangeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.DTO" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="HighValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LowValue" nillable="true" type="xs:double" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="RangeOfNullableOfdouble5F2dSckg" nillable="true" type="tns:RangeOfNullableOfdouble5F2dSckg" />
  <xs:complexType name="IndexSort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="tns:IndexColumn" />
      <xs:element minOccurs="0" name="Direction" type="tns:Direction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexSort" nillable="true" type="tns:IndexSort" />
  <xs:simpleType name="IndexColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="City" />
      <xs:enumeration value="Id" />
      <xs:enumeration value="Score" />
      <xs:enumeration value="Type" />
      <xs:enumeration value="Density" />
      <xs:enumeration value="Units" />
      <xs:enumeration value="Year" />
      <xs:enumeration value="StreetType" />
      <xs:enumeration value="Walkability" />
      <xs:enumeration value="Walkscore" />
      <xs:enumeration value="SocioEcon" />
      <xs:enumeration value="TwoFiftySF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IndexColumn" nillable="true" type="tns:IndexColumn" />
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:complexType name="PropertySort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="tns:PropertyColumn" />
      <xs:element minOccurs="0" name="Direction" type="tns:Direction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertySort" nillable="true" type="tns:PropertySort" />
  <xs:simpleType name="PropertyColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="City" />
      <xs:enumeration value="Description" />
      <xs:enumeration value="Density" />
      <xs:enumeration value="Units" />
      <xs:enumeration value="YearBuilt" />
      <xs:enumeration value="AdminNotes" />
      <xs:enumeration value="NotFinished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PropertyColumn" nillable="true" type="tns:PropertyColumn" />
  <xs:complexType name="ArrayOfAdminPropertyIndexDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminPropertyIndexDTO" nillable="true" type="tns:AdminPropertyIndexDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminPropertyIndexDTO" nillable="true" type="tns:ArrayOfAdminPropertyIndexDTO" />
  <xs:complexType name="AdminPropertyIndexDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Density" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NotFinished" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Units" type="xs:int" />
      <xs:element minOccurs="0" name="YearBuilt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminPropertyIndexDTO" nillable="true" type="tns:AdminPropertyIndexDTO" />
  <xs:complexType name="UserPropertyDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingEnclosure" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommonAreas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeighborhoodCondition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Score" type="xs:int" />
          <xs:element minOccurs="0" name="SocioEcon" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetConnectivity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetSafety" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetWalkability" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserPropertyDTO" nillable="true" type="tns:UserPropertyDTO" />
  <xs:complexType name="PropertyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="Area" type="xs:int" />
      <xs:element minOccurs="0" name="Density" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" minOccurs="0" name="PictureMetaData" nillable="true" type="q2:ArrayOfPictureMetaData" />
      <xs:element minOccurs="0" name="TwoFiftyAppartments" type="xs:int" />
      <xs:element minOccurs="0" name="TwoFiftySingleFamily" type="xs:int" />
      <xs:element minOccurs="0" name="Units" type="xs:int" />
      <xs:element minOccurs="0" name="Walkscore" type="xs:int" />
      <xs:element minOccurs="0" name="YearBuilt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyDTO" nillable="true" type="tns:PropertyDTO" />
  <xs:complexType name="AddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:complexType name="AdminPropertyDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdminNotes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingEnclosure" type="xs:int" />
          <xs:element minOccurs="0" name="CommonAreas" type="xs:int" />
          <xs:element minOccurs="0" name="NeighborhoodCondition" type="xs:int" />
          <xs:element minOccurs="0" name="NotFinished" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SocioEcon" type="xs:int" />
          <xs:element minOccurs="0" name="StreetConnectivity" type="xs:int" />
          <xs:element minOccurs="0" name="StreetSafety" type="xs:int" />
          <xs:element minOccurs="0" name="StreetType" type="xs:int" />
          <xs:element minOccurs="0" name="StreetWalkability" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
          <xs:element minOccurs="0" name="WalkscoreNotes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdminPropertyDTO" nillable="true" type="tns:AdminPropertyDTO" />
  <xs:complexType name="ArrayOfCsvPropertyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsvPropertyDTO" nillable="true" type="tns:CsvPropertyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsvPropertyDTO" nillable="true" type="tns:ArrayOfCsvPropertyDTO" />
  <xs:complexType name="CsvPropertyDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingEnclosureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommonAreasCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeighborhoodConditionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PropertyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SocioEconType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetConnectivityCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetSafetyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetWalkabilityCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsvPropertyDTO" nillable="true" type="tns:CsvPropertyDTO" />
</xs:schema>