UtahPlanners.MVC3/Service References/PropertyService/PropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPropertyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Paul.UtahPlanners.Application" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.DTO" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllAdminIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllAdminIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllAdminIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllAdminIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindUserProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindUserProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAdminProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAdminProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAdminProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAdminPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllCsvProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllCsvProperties" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllCsvProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllCsvPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindShowcaseProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:FindShowcaseProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindShowcaseProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindShowcasePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPicture" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllLookupValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLookupValues" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllLookupValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLookupValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupTypes" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupCodes" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetWeights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeights" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetWeights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeightsResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_SaveProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_SaveProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_CreateLookupType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLookupType" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_CreateLookupType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLookupTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_ModifyLookupType_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLookupType" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_ModifyLookupType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLookupTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteLookupType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLookupType" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteLookupType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLookupTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_CreateLookupCode_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLookupCode" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_CreateLookupCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLookupCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_ModifyLookupCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLookupCode" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_ModifyLookupCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLookupCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteLookupCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLookupCode" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteLookupCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLookupCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdateWeights_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeights" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdateWeights_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeightsResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UploadPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPicture" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UploadPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictureResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropertyService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetData" message="tns:IPropertyService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetDataResponse" message="tns:IPropertyService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetDataUsingDataContract" message="tns:IPropertyService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetDataUsingDataContractResponse" message="tns:IPropertyService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindAllIndecies" message="tns:IPropertyService_FindAllIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindAllIndeciesResponse" message="tns:IPropertyService_FindAllIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindIndecies" message="tns:IPropertyService_FindIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindIndeciesResponse" message="tns:IPropertyService_FindIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllAdminIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindAllAdminIndecies" message="tns:IPropertyService_FindAllAdminIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindAllAdminIndeciesResponse" message="tns:IPropertyService_FindAllAdminIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindUserProperty" message="tns:IPropertyService_FindUserProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindUserPropertyResponse" message="tns:IPropertyService_FindUserProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAdminProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindAdminProperty" message="tns:IPropertyService_FindAdminProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindAdminPropertyResponse" message="tns:IPropertyService_FindAdminProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllCsvProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindAllCsvProperties" message="tns:IPropertyService_FindAllCsvProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindAllCsvPropertiesResponse" message="tns:IPropertyService_FindAllCsvProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindShowcaseProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindShowcaseProperty" message="tns:IPropertyService_FindShowcaseProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindShowcasePropertyResponse" message="tns:IPropertyService_FindShowcaseProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindPicture" message="tns:IPropertyService_FindPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindPictureResponse" message="tns:IPropertyService_FindPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLookupValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetAllLookupValues" message="tns:IPropertyService_GetAllLookupValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetAllLookupValuesResponse" message="tns:IPropertyService_GetAllLookupValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetLookupTypes" message="tns:IPropertyService_GetLookupTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetLookupTypesResponse" message="tns:IPropertyService_GetLookupTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetLookupCodes" message="tns:IPropertyService_GetLookupCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetLookupCodesResponse" message="tns:IPropertyService_GetLookupCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeights">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetWeights" message="tns:IPropertyService_GetWeights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetWeightsResponse" message="tns:IPropertyService_GetWeights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/SaveProperty" message="tns:IPropertyService_SaveProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/SavePropertyResponse" message="tns:IPropertyService_SaveProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/DeleteProperty" message="tns:IPropertyService_DeleteProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/DeletePropertyResponse" message="tns:IPropertyService_DeleteProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLookupType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/CreateLookupType" message="tns:IPropertyService_CreateLookupType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/CreateLookupTypeResponse" message="tns:IPropertyService_CreateLookupType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyLookupType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/ModifyLookupType" message="tns:IPropertyService_ModifyLookupType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/ModifyLookupTypeResponse" message="tns:IPropertyService_ModifyLookupType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLookupType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/DeleteLookupType" message="tns:IPropertyService_DeleteLookupType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/DeleteLookupTypeResponse" message="tns:IPropertyService_DeleteLookupType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLookupCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/CreateLookupCode" message="tns:IPropertyService_CreateLookupCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/CreateLookupCodeResponse" message="tns:IPropertyService_CreateLookupCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyLookupCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/ModifyLookupCode" message="tns:IPropertyService_ModifyLookupCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/ModifyLookupCodeResponse" message="tns:IPropertyService_ModifyLookupCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLookupCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/DeleteLookupCode" message="tns:IPropertyService_DeleteLookupCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/DeleteLookupCodeResponse" message="tns:IPropertyService_DeleteLookupCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWeights">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/UpdateWeights" message="tns:IPropertyService_UpdateWeights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/UpdateWeightsResponse" message="tns:IPropertyService_UpdateWeights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/UploadPicture" message="tns:IPropertyService_UploadPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/UploadPictureResponse" message="tns:IPropertyService_UploadPicture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPropertyService" type="tns:IPropertyService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPropertyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllIndecies">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindAllIndecies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIndecies">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindIndecies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllAdminIndecies">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindAllAdminIndecies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindUserProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAdminProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindAdminProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllCsvProperties">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindAllCsvProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindShowcaseProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindShowcaseProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPicture">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLookupValues">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetAllLookupValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupTypes">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetLookupTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupCodes">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetLookupCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeights">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetWeights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/SaveProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/DeleteProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLookupType">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/CreateLookupType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLookupType">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/ModifyLookupType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLookupType">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/DeleteLookupType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLookupCode">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/CreateLookupCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLookupCode">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/ModifyLookupCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLookupCode">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/DeleteLookupCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeights">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/UpdateWeights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPicture">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/UploadPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertyService">
    <wsdl:port name="WSHttpBinding_IPropertyService" binding="tns:WSHttpBinding_IPropertyService">
      <soap12:address location="http://localhost:3109/PropertyService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:3109/PropertyService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>