UtahPlanners.MVC3/Service References/PropertyService/PropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Paul.UtahPlanners.Application" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetShowcaseProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowcaseProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetShowcaseProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowcasePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupValues" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropertyService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetData" message="tns:IPropertyService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetDataResponse" message="tns:IPropertyService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetDataUsingDataContract" message="tns:IPropertyService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetDataUsingDataContractResponse" message="tns:IPropertyService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetAllIndecies" message="tns:IPropertyService_GetAllIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetAllIndeciesResponse" message="tns:IPropertyService_GetAllIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetIndecies" message="tns:IPropertyService_GetIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetIndeciesResponse" message="tns:IPropertyService_GetIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetProperty" message="tns:IPropertyService_GetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyResponse" message="tns:IPropertyService_GetProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowcaseProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetShowcaseProperty" message="tns:IPropertyService_GetShowcaseProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetShowcasePropertyResponse" message="tns:IPropertyService_GetShowcaseProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPicture" message="tns:IPropertyService_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPictureResponse" message="tns:IPropertyService_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetLookupValues" message="tns:IPropertyService_GetLookupValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetLookupValuesResponse" message="tns:IPropertyService_GetLookupValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPropertyService" type="tns:IPropertyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndecies">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetAllIndecies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndecies">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetIndecies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowcaseProperty">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetShowcaseProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupValues">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetLookupValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertyService">
    <wsdl:port name="BasicHttpBinding_IPropertyService" binding="tns:BasicHttpBinding_IPropertyService">
      <soap:address location="http://localhost:3109/PropertyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>