UtahPlanners.MVC3/Service References/PropertyService/PropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPropertyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Paul.UtahPlanners.Application" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.DTO" />
      <xsd:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAllIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindIndecies_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIndecies" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindIndecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIndeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProperties" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindUserProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindUserProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAdminProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAdminProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_FindAdminProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAdminPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_SaveProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_SaveProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetShowcaseProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowcaseProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetShowcaseProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowcasePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupValues" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetLookupValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropertyService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetData" message="tns:IPropertyService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetDataResponse" message="tns:IPropertyService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetDataUsingDataContract" message="tns:IPropertyService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetDataUsingDataContractResponse" message="tns:IPropertyService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindAllIndecies" message="tns:IPropertyService_FindAllIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindAllIndeciesResponse" message="tns:IPropertyService_FindAllIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindIndecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindIndecies" message="tns:IPropertyService_FindIndecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindIndeciesResponse" message="tns:IPropertyService_FindIndecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetAllProperties" message="tns:IPropertyService_GetAllProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetAllPropertiesResponse" message="tns:IPropertyService_GetAllProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindUserProperty" message="tns:IPropertyService_FindUserProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindUserPropertyResponse" message="tns:IPropertyService_FindUserProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAdminProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/FindAdminProperty" message="tns:IPropertyService_FindAdminProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/FindAdminPropertyResponse" message="tns:IPropertyService_FindAdminProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/SaveProperty" message="tns:IPropertyService_SaveProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/SavePropertyResponse" message="tns:IPropertyService_SaveProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/DeleteProperty" message="tns:IPropertyService_DeleteProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/DeletePropertyResponse" message="tns:IPropertyService_DeleteProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowcaseProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetShowcaseProperty" message="tns:IPropertyService_GetShowcaseProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetShowcasePropertyResponse" message="tns:IPropertyService_GetShowcaseProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPicture" message="tns:IPropertyService_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPictureResponse" message="tns:IPropertyService_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetLookupValues" message="tns:IPropertyService_GetLookupValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetLookupValuesResponse" message="tns:IPropertyService_GetLookupValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPropertyService" type="tns:IPropertyService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPropertyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllIndecies">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindAllIndecies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIndecies">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindIndecies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetAllProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindUserProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAdminProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/FindAdminProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/SaveProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/DeleteProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowcaseProperty">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetShowcaseProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupValues">
      <soap12:operation soapAction="http://tempuri.org/IPropertyService/GetLookupValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertyService">
    <wsdl:port name="WSHttpBinding_IPropertyService" binding="tns:WSHttpBinding_IPropertyService">
      <soap12:address location="http://localhost:3109/PropertyService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:3109/PropertyService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>