UtahPlanners.MVC3/Service References/PropertyService/PropertyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:3109/PropertyService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPropertiesIndex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertiesIndex" nillable="true" type="tns:PropertiesIndex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertiesIndex" nillable="true" type="tns:ArrayOfPropertiesIndex" />
  <xs:complexType name="PropertiesIndex">
    <xs:sequence>
      <xs:element minOccurs="0" name="OverallScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocioEconDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetWalkDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="density" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="twoFiftySingleFam" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="units" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="walkscore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="yearBuilt" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PropertiesIndex" nillable="true" type="tns:PropertiesIndex" />
  <xs:complexType name="IndexFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="BuildingEnclosureType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonAreasType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DensityRange" nillable="true" type="tns:RangeOfNullableOfdouble5F2dSckg" />
      <xs:element minOccurs="0" name="NeighborhoodConditionType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyId" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PropertyTypes" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ScoreRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="SocioEconType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetConnectivityType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetSafetyType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StreetWalkabilityType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TwoFiftyApartmentsRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="TwoFiftySingleFamilyRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="UnitRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="WalkscoreRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
      <xs:element minOccurs="0" name="YearBuiltRange" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexFilter" nillable="true" type="tns:IndexFilter" />
  <xs:complexType name="RangeOfNullableOfint5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RangeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="HighValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LowValue" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="RangeOfNullableOfint5F2dSckg" nillable="true" type="tns:RangeOfNullableOfint5F2dSckg" />
  <xs:complexType name="RangeOfNullableOfdouble5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RangeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UtahPlanners.Domain.Entity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="HighValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LowValue" nillable="true" type="xs:double" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="RangeOfNullableOfdouble5F2dSckg" nillable="true" type="tns:RangeOfNullableOfdouble5F2dSckg" />
  <xs:complexType name="IndexSort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="tns:IndexColumn" />
      <xs:element minOccurs="0" name="Direction" type="tns:Direction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexSort" nillable="true" type="tns:IndexSort" />
  <xs:simpleType name="IndexColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="City" />
      <xs:enumeration value="Id" />
      <xs:enumeration value="Score" />
      <xs:enumeration value="Type" />
      <xs:enumeration value="Density" />
      <xs:enumeration value="Units" />
      <xs:enumeration value="Year" />
      <xs:enumeration value="StreetType" />
      <xs:enumeration value="Walkability" />
      <xs:enumeration value="Walkscore" />
      <xs:enumeration value="SocioEcon" />
      <xs:enumeration value="TwoFiftySF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IndexColumn" nillable="true" type="tns:IndexColumn" />
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:complexType name="PropertySort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="tns:PropertyColumn" />
      <xs:element minOccurs="0" name="Direction" type="tns:Direction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertySort" nillable="true" type="tns:PropertySort" />
  <xs:simpleType name="PropertyColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="City" />
      <xs:enumeration value="Description" />
      <xs:enumeration value="Density" />
      <xs:enumeration value="Units" />
      <xs:enumeration value="YearBuilt" />
      <xs:enumeration value="AdminNotes" />
      <xs:enumeration value="NotFinished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PropertyColumn" nillable="true" type="tns:PropertyColumn" />
  <xs:complexType name="ArrayOfPictureMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PictureMetaData" nillable="true" type="tns:PictureMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPictureMetaData" nillable="true" type="tns:ArrayOfPictureMetaData" />
  <xs:complexType name="PictureMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="FrontPage" type="xs:boolean" />
      <xs:element minOccurs="0" name="PictureId" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryPicture" type="xs:boolean" />
      <xs:element minOccurs="0" name="PropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="SecondaryPicture" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PictureMetaData" nillable="true" type="tns:PictureMetaData" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:Property" />
      <xs:element minOccurs="0" name="binaryData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="frontPage" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mainPicture" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="mimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="property_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="secondaryPicture" nillable="true" type="xs:short" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="CommonCode" nillable="true" type="tns:CommonCode" />
      <xs:element minOccurs="0" name="EnclosureCode" nillable="true" type="tns:EnclosureCode" />
      <xs:element minOccurs="0" name="NeighborhoodCode" nillable="true" type="tns:NeighborhoodCode" />
      <xs:element minOccurs="0" name="Pictures" nillable="true" type="tns:ArrayOfPicture" />
      <xs:element minOccurs="0" name="PropertyType" nillable="true" type="tns:PropertyType" />
      <xs:element minOccurs="0" name="SocioEconCode" nillable="true" type="tns:SocioEconCode" />
      <xs:element minOccurs="0" name="StreetSafteyCode" nillable="true" type="tns:StreetSafteyCode" />
      <xs:element minOccurs="0" name="StreetType" nillable="true" type="tns:StreetType" />
      <xs:element minOccurs="0" name="StreetconnCode" nillable="true" type="tns:StreetconnCode" />
      <xs:element minOccurs="0" name="StreetwalkCode" nillable="true" type="tns:StreetwalkCode" />
      <xs:element minOccurs="0" name="adminNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="area" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="buildingEnclosure" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="commonAreas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="density" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="neighCondition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="notFinished" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socioEcon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetConn" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetSaftey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetWalk" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="twoFiftyApts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="twoFiftySingleFam" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="units" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="walkscore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="walkscoreNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="yearBuilt" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:Property" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="CommonCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CommonCode" nillable="true" type="tns:CommonCode" />
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="EnclosureCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EnclosureCode" nillable="true" type="tns:EnclosureCode" />
  <xs:complexType name="NeighborhoodCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NeighborhoodCode" nillable="true" type="tns:NeighborhoodCode" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PropertyType" nillable="true" type="tns:PropertyType" />
  <xs:complexType name="SocioEconCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SocioEconCode" nillable="true" type="tns:SocioEconCode" />
  <xs:complexType name="StreetSafteyCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StreetSafteyCode" nillable="true" type="tns:StreetSafteyCode" />
  <xs:complexType name="StreetType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StreetType" nillable="true" type="tns:StreetType" />
  <xs:complexType name="StreetconnCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StreetconnCode" nillable="true" type="tns:StreetconnCode" />
  <xs:complexType name="StreetwalkCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StreetwalkCode" nillable="true" type="tns:StreetwalkCode" />
  <xs:complexType name="LookupValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommonCodes" nillable="true" type="tns:ArrayOfCommonCode" />
      <xs:element minOccurs="0" name="EnclosureCodes" nillable="true" type="tns:ArrayOfEnclosureCode" />
      <xs:element minOccurs="0" name="NeighborhoodCodes" nillable="true" type="tns:ArrayOfNeighborhoodCode" />
      <xs:element minOccurs="0" name="PropertyTypes" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element minOccurs="0" name="SocioEconCodes" nillable="true" type="tns:ArrayOfSocioEconCode" />
      <xs:element minOccurs="0" name="StreetSafetyCodes" nillable="true" type="tns:ArrayOfStreetSafteyCode" />
      <xs:element minOccurs="0" name="StreetTypes" nillable="true" type="tns:ArrayOfStreetType" />
      <xs:element minOccurs="0" name="StreetconnCodes" nillable="true" type="tns:ArrayOfStreetconnCode" />
      <xs:element minOccurs="0" name="StreetwalkCodes" nillable="true" type="tns:ArrayOfStreetwalkCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupValues" nillable="true" type="tns:LookupValues" />
  <xs:complexType name="ArrayOfCommonCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonCode" nillable="true" type="tns:CommonCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommonCode" nillable="true" type="tns:ArrayOfCommonCode" />
  <xs:complexType name="ArrayOfEnclosureCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnclosureCode" nillable="true" type="tns:EnclosureCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnclosureCode" nillable="true" type="tns:ArrayOfEnclosureCode" />
  <xs:complexType name="ArrayOfNeighborhoodCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NeighborhoodCode" nillable="true" type="tns:NeighborhoodCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNeighborhoodCode" nillable="true" type="tns:ArrayOfNeighborhoodCode" />
  <xs:complexType name="ArrayOfPropertyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyType" nillable="true" type="tns:PropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyType" nillable="true" type="tns:ArrayOfPropertyType" />
  <xs:complexType name="ArrayOfSocioEconCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocioEconCode" nillable="true" type="tns:SocioEconCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocioEconCode" nillable="true" type="tns:ArrayOfSocioEconCode" />
  <xs:complexType name="ArrayOfStreetSafteyCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetSafteyCode" nillable="true" type="tns:StreetSafteyCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetSafteyCode" nillable="true" type="tns:ArrayOfStreetSafteyCode" />
  <xs:complexType name="ArrayOfStreetType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetType" nillable="true" type="tns:StreetType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetType" nillable="true" type="tns:ArrayOfStreetType" />
  <xs:complexType name="ArrayOfStreetconnCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetconnCode" nillable="true" type="tns:StreetconnCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetconnCode" nillable="true" type="tns:ArrayOfStreetconnCode" />
  <xs:complexType name="ArrayOfStreetwalkCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetwalkCode" nillable="true" type="tns:StreetwalkCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetwalkCode" nillable="true" type="tns:ArrayOfStreetwalkCode" />
  <xs:simpleType name="LookupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PropertyType" />
      <xs:enumeration value="StreetType" />
      <xs:enumeration value="SocioEconType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LookupType" nillable="true" type="tns:LookupType" />
  <xs:simpleType name="LookupCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CommonCode" />
      <xs:enumeration value="EnclosureCode" />
      <xs:enumeration value="NeighborhoodCode" />
      <xs:enumeration value="StreetConnCode" />
      <xs:enumeration value="StreetSafetyCode" />
      <xs:enumeration value="StreetWalkCode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LookupCode" nillable="true" type="tns:LookupCode" />
  <xs:complexType name="Weight">
    <xs:sequence>
      <xs:element minOccurs="0" name="buildingEnclosure" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="commonAreas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="neighCondition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetConn" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetSaftey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="streetWalk" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="twoFiftyApts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="twoFiftySingleFam" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="walkscore" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Weight" nillable="true" type="tns:Weight" />
</xs:schema>